.loginWrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.loginLogo {
  height: 4vh;
  margin-bottom: 30px;
}

.loginBox {
  border: 1px solid #04b4e3;
  width: 30%;
  min-width: 600px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgb(0,0,0, 0.4);
  gap: 40px;
  padding: 20px;
}

.loginBox > label {
  color: white;
  font-size: 30px;
}


.loginBox > input {
  color: white;
  font-size: 20px;
  background-color: transparent;
  border: 1px solid #04b4e3;
  padding: 5px 10px;
  width: 400px;
}

.signIn {
  width: 200px;
  font-size: 20px;
  background-color: #04b4e3;
  border: none;
  color: white;
  padding: 5px;
  cursor: pointer;
}

.signIn:hover {
  background-color: #49c0c3;
}

.register,
.forgot {
  color: white;
  font-size: 25px;
  cursor: pointer;
}

.register:hover,
.forgot:hover {
  color: #04b4e3
}

.loginTitle {
  font-size: 40px;
  color: white;
}
