.searchbox {
  width: 300px;
  height: 30px;
  background: transparent;
  color: white;
  border: 1px solid #04b4e3;
  font-size: 20px;
  outline: none;
  padding: 0 10px;
  margin-right: 20px;
}

.userLogo {
  width: 30px;
  cursor: pointer;
}

.topRight {
  display: flex;
  margin: 10px 40px 0 0;
}

.logoWrapper {
  position: relative;
}

.dropDown {
  color: white;
  border: 1px solid #04b4e3;
  position: absolute;
  right: 0;
  width: 300px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background: rgba(0, 0, 0, 0.9);
  font-size: 20px;
  z-index: 99;
}

.dropDown > p {
  cursor: pointer;
}

.dropDown > p:hover {
  color: #04b4e3;
}

@media screen and (max-width: 1024px) {

  .searchbox {
    width: 100%;
  }
}
