.searchPage {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(8, 1fr);
  padding: 20px;
}

.searchMovie {
  height: 300px;
  margin: 10px;
  -webkit-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease;
  cursor: pointer;
}

.searchMovie:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  z-index: 98;
}
