.searchbox {
  width: 300px;
  height: 30px;
  background: transparent;
  color: white;
  border: 1px solid cornflowerblue;
  font-size: 20px;
  outline: none;
  padding: 0 10px;
  margin-right: 20px;
}

.userLogo {
  width: 30px;
  cursor: pointer;
}

.topRight {
  display: flex;
  margin: 10px 40px 0 0;
}

.userLogo:hover {
  transform: scale(1.1);
}

@media screen and (max-width: 1024px) {

  .searchbox {
    width: 100%;
  }
}
