.containerDevice {
  position: relative;
  width: 100%;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.collectionDevice {
  position: absolute;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow-x: auto;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

.movieDevice {
  position: relative;
  width: auto;
  height: 80%;
  margin-left: 20px;
  -webkit-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease;
}

.posterDevice {
  height: 100%;
  border-radius: 10px;
}

.headerDevice {
  font-family: arial;
  color: white;
  position: absolute;
  top: 0;
  font-size: 15px;
  margin-left: 20px;
}
