@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scrollbar-width: thin;
  scrollbar-color: #04b4e3 black;
  scrollbar-radius: 20px;
  font-family: 'Courier New', Courier, monospace;
}

*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: black;
}

*::-webkit-scrollbar-thumb {
  background-color: #04b4e3;
  border-radius: 10px;
}

html,body {
  width: 100vw;
  height: 100vh;
  background-color: #0d1117;
}

a {
  text-decoration: none;
}
