.detailPoster {
  height: 700px;
  float: left;
  margin-right: 10px;
  padding: 5px;
  border-right: 1px solid #04b4e3;
}

.info {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
  font-style: italic;
  color: white;
  text-align: justify;
  overflow: auto;
}

.detailWrapper {
  width: 100%;
  height: auto;
  padding: 0 100px;
}

.detailAction {
  font-size: 30px;
  margin-top: 100px;
  cursor: pointer;
}

.detailAction:hover {
  color: #04b4e3
}


.trailerFrame {
  width: 70vw;
  height: 70vh;
  border: 1px solid #04b4e3
}

.trailerWrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 0;
  background: rgb(0,0,0, 0.5);
}

.closeTrailer {
  color: white;
  font-size: 30px;
  cursor: pointer;
}

.closeTrailer:hover {
  color: #04b4e3
}
